<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width,
initial-scale=1, shrink-to-fit=no"
  />
  <title><?= pageData.title ?></title>
  <!-- ใส่ลิ้ง Bootstrap CDN สําหรับ CSS -->
  <!-- ใส่ลิ้ง Bootstrap CDN สําหรับ javascript -->
</head>
